<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <picture>
        <source srcset="assets/picture/{{picture}}" type="image/svg+xml">
        <img src="assets/picture/{{picture}}" class="img-fluid img-thumbnail" alt="...">
      </picture>
      <h3 class="text-center"> {{firstName}} {{name}} </h3>
      <h5 class="text-center"> {{ age }} ans </h5>
      <h5 class="text-center"> {{job}} </h5>
      <strong>AD</strong>
    </div>

    <ul class="list-unstyled components">
      <li class="active sizesidemenu">
        <a href="#experience"> <i class="fas fa-book"></i> Expérience </a>
      </li>
      <li class="active sizesidemenu">
        <a href="#formation"> <i class="fas fa-graduation-cap"></i> Formation </a>
      </li>
      <li class="active sizesidemenu">
        <a href="#competences"> <i class="fas fa-certificate"></i> Compétences </a>
      </li>
      <li class="active sizesidemenu">
        <a href="#centresInteret"> <i class="fab fa-gratipay"></i>  Centres d’intérêt </a>
      </li>
      <li class="active sizesidemenu">
        <a href="#bonus"> <i class="fas fa-star"></i> Bonus </a>
      </li>
    </ul>

  </nav>

  <div id="content" class="container-fluid">



    <div class="line"></div>

    <div class="row">
      <div class="col-sm-4">
        <address><i class="fas fa-map-marker"></i> {{adresse}} <br> {{completeAdresse}} <br>
          <i class="fas fa-at"></i> {{email}} <br>
          <i class="fas fa-mobile"></i> {{phoneNumber}}</address>
        <p *ngIf="permisB"> <i class="fas fa-check-square" style="color:green;"></i> Permis B </p>
      </div>
      <div class="col-sm-8">
        <p class="desc-pf"> {{whoiam}} </p>
        <h5 class="text-uppercase" id="Objectif"> Objectif : </h5>
        <p> {{goal}} </p>
      </div>
    </div>

    <div class="line"></div>

    <div class="row">
      <div class="col-sm-12">
        <h4 class="text-uppercase" id="experience"> <i class="fas fa-book fa-lg"></i> Expérience </h4>
        <ul class="list-unstyled">
          <li *ngFor="let experience of experiences">{{experience}} </li>
        </ul>
      </div>
    </div>

    <div class="line"></div>



    <div class="row">
      <div class="col-sm-12">
        <h4 class="text-uppercase" id="formation"> <i class="fas fa-graduation-cap fa-lg"></i> Formation </h4>
        <ul class="list-unstyled">
          <li *ngFor="let educ of education"><b>  [ {{educ.from}} - {{educ.to}} ] </b> : {{educ.title}} <b *ngIf="educ.school != ''"> —  {{educ.school}} </b>.</li>
        </ul>
      </div>
    </div>


    <div class="line"></div>

    <div class="row">
      <div class="col-sm-12">
        <h4 class="text-uppercase" id="competences"> <i class="fas fa-certificate fa-lg"></i> Compétences  </h4>
        <ul class="list-unstyled">
          <li *ngFor="let skill of skills">{{skill}} </li>
        </ul>
      </div>
    </div>

    <div class="line"></div>

    <div class="row">
      <div class="col-sm-8">
        <h4 class="text-uppercase" id="centresInteret">  <i class="fab fa-gratipay fa-lg"></i> Centres d’intérêt </h4>
        <ul class="list-unstyled">
          <li *ngFor="let hobbie of hobbies">{{hobbie}} </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4 class="text-uppercase"> <i class="fas fa-language fa-lg"></i> Langues </h4>

        <ul class="list-unstyled">
          <li *ngFor="let lg of languages"><b> {{lg.title}} </b> : {{myLevel(lg)}}</li>
        </ul>
      </div>
    </div>

    <div class="line"></div>

    <div class="row">
      <div class="col-sm-12">
        <h5 id="bonus"> Ce que peu de gens savent sur moi  </h5>
        <blockquote class="blockquote">
          <p class="mb-0">{{citation}}</p>
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
      </div>
    </div>

    <div class="line"></div>

    <footer>
      <p class="text-center">
        <a href="{{LINKDIN}}" class="space" *ngIf="LINKDIN != '#'">  <i class="fab fa-linkedin fa-2x"></i></a>
        <a href="{{GIT}}" class="space" *ngIf="GIT != '#'">  <i class="fab fa-git-square fa-2x"></i></a>
        <a href="{{FB}}" class="space" *ngIf="FB != '#'">  <i class="fab fa-facebook fa-2x"></i> </a>
        <a href="{{TWITTER}}" class="space" *ngIf="TWITTER != '#'">  <i class="fab fa-twitter-square fa-2x"></i></a>
        <a href="{{INSTA}}" class="space" *ngIf="INSTA != '#'">  <i class="fab fa-instagram fa-2x"></i></a>
        <a href="{{GOOGLEPLUS}}" class="space" *ngIf="GOOGLEPLUS != '#'">  <i class="fab fa-google-plus-square fa-2x"></i></a>
      </p>
      Copyright (c) {{year}} {{owner}} All Rights Reserved. {{version}}
    </footer>
  </div>
</div>